<div class="row fullHeight_VH fullWidth_vw display-flex p-0 m-0">
  <div class="container">
    <div class="row h-100 " style="padding: 1.6rem 2rem;">
      <div class="col-12 text-center">
        <div class="display-flex mb-2">
          <div class="logoDiv">
            <img *ngIf="showImageFlag" [src]="brandDetails?.icon" alt="logo" class="w-100 h-100" />
          </div>
        </div>
        <div><p *ngIf="showImageFlag">{{brandDetails?.title}}</p></div>
      </div>
      <div class="col-12">
        <div class="text-center">Login to continue</div>
        <div class="form mb-4">
          <form action="" #myForm="ngForm">
            <div class="box-shadow cardInput d-flex">
              <div class="display-flex mr-2">
                <i class="fa-solid fa-phone"></i>
              </div>
              <input
                type="text"
                class="w-100 boder-none fw-400 fs-12"
                placeholder="Mobile Number"
                [(ngModel)]="userData"
                autocomplete="off"
                (keypress)="onlyNumbers($event)"
                required
                name="userId"
                pattern="^((\\+91-?)|0)?[6-9][0-9]{9}$"
              />
            </div>
            <button class="w-100 cardButton box-shadow" (click)="onSubmit(myForm)">
              Send verification OTP
            </button>
          </form>
        </div>
        <div class="text-center">
          <span class="note fs-11">
            Note: A one time password(OTP) will be shared on <br />
            your given mobile number for verification purpuse.
          </span>
        </div>
      </div>
      <div class="col-12 d-flex  justify-content-center align-items-end ">
        <div class="text-center fs-14">
          <span style="color: #6b6b6b">User not registered?</span>
          <a
            style="text-decoration: underline; color: #4081bb"
            class="ml-2 pointer"
            (click)="registration()"
            >Register</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
