.container {
  height: 29rem;
  width: 27rem;
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  border: 1px solid #c7c7c7;
  border-radius: 12px;
}

.cardInput {
  width: 100%;
  /* margin: 12px; */
  margin: 14px 0px 14px 0px;
  border: 1px solid #afaeaf;
  border-radius: 6px;
  padding: 7px;
  font-size: 13px;
  color: #919191;;
}
