ul{
    padding-left: 0;
    list-style: none;
    margin-bottom:0;
  }
.suggestions {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.horizontal {
    justify-content: center;
}
// .slider{
//     width:auto!important;
// }
// .iqreply{
//     padding-right: 20px;
//     padding-left: 20px;
// }
