.container {
  height: 27rem;
  width: 26rem;
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
  border: 1px solid #c7c7c7;
  border-radius: 12px;
}
.dp{
      height: 6rem;
    width: 6rem;
    background: aqua;
    border-radius: 50%;
}
