.rounded-rectangle {
  border-radius: 8px;
  border-width: 0px;
  outline: none;
  padding: 8px 16px;
  height: auto;
  color: #fff;
  font-size: 16px;
}

.btn-custom {
  background-color: #262938;
  color:white;
}

.btn-white {
  background-color:var(--color-primary);
  color:white;
}
.shadow {
  box-shadow: 0px 0px 25px 0px #000000;
}
.right-side{
  float: right;
}
p{
  margin-bottom:0px;
  max-width: 100%;
  overflow-wrap: break-word;
}
