.visualReplayBox{
    width: 100%;
    padding: 0px;
    text-align: center;
    img{
        max-width: 60px;
        margin-bottom: 20px;
    }
    h4{
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }
}