.paragraph-reply{
  color: white;
  background-color: #1d203c;
  padding: 12px;
  text-align: center;
  font-size: 1em;
  // box-shadow: 0 0 12px 0 #010101;
  margin: 0 -18px;
  p {
    margin-bottom: 0;
  }
}
