$background:#1d203c;
h4 {
    margin: 0;
    text-align: center;
    margin-bottom: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.voteCard {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding: 10px;
    background: $background /*#2d3142*/;/* applied common background as $background @ line-1 or directly apply color name as mentioned here*/
    justify-content: space-evenly;
    .myItems {
        width: 25px;
        height: 25px;
        border: 1px #fff solid;
        border-radius: 50%;
        span {
            display: flex;
            width: 23px;
            height: 23px;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }
    }
}
