$background: #1d203c;
$foreground:#fff;

button {
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  background: $background;
  color:$foreground;
  line-height: 2em;
  border-width: 0px;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 7px 7px 7px;
  color:#fff;
}